body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.hero {
    background-color: #007BFF;
    color: white;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
}
.hero-content h1 {
    margin: 0;
    font-size: 2.5rem;
}
.hero-content p {
    margin: 10px 0;
    font-size: 1.2rem;
}
.hero-content .btn {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
.hero-content .btn:hover {
    background-color: #004494;
}
.intro {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: center;
    margin: auto;
}
.intro h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.features {
    width: 80%;
    max-width: 800px;
    margin: 50px 0;
    margin: auto;
}
.features h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature-item {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin-bottom: 20px;
    text-align: center;
}
.feature-item h3 {
    margin-top: 0;
    font-size: 1.2rem;
}
.feature-item p {
    font-size: 1rem;
    color: #666;
}